<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (cin(); as cinRef) {
      <div>
        <h2 data-cy="cinDetailsHeading"><span jhiTranslate="kotekkaApp.cin.detail.title">Cin</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ cinRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="kotekkaApp.cin.cinId">Cin Id</span></dt>
          <dd>
            <span>{{ cinRef.cinId }}</span>
          </dd>
          <dt><span jhiTranslate="kotekkaApp.cin.validityDate">Validity Date</span></dt>
          <dd>
            <span>{{ cinRef.validityDate | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="kotekkaApp.cin.birthDate">Birth Date</span></dt>
          <dd>
            <span>{{ cinRef.birthDate | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="kotekkaApp.cin.birthPlace">Birth Place</span></dt>
          <dd>
            <span>{{ cinRef.birthPlace }}</span>
          </dd>
          <dt><span jhiTranslate="kotekkaApp.cin.firstName">First Name</span></dt>
          <dd>
            <span>{{ cinRef.firstName }}</span>
          </dd>
          <dt><span jhiTranslate="kotekkaApp.cin.lastName">Last Name</span></dt>
          <dd>
            <span>{{ cinRef.lastName }}</span>
          </dd>
          <dt><span jhiTranslate="kotekkaApp.cin.birthCity">Birth City</span></dt>
          <dd>
            <span>{{ cinRef.birthCity }}</span>
          </dd>
          <dt><span jhiTranslate="kotekkaApp.cin.fatherName">Father Name</span></dt>
          <dd>
            <span>{{ cinRef.fatherName }}</span>
          </dd>
          <dt><span jhiTranslate="kotekkaApp.cin.nationality">Nationality</span></dt>
          <dd>
            <span>{{ cinRef.nationality }}</span>
          </dd>
          <dt><span jhiTranslate="kotekkaApp.cin.nationalityCode">Nationality Code</span></dt>
          <dd>
            <span>{{ cinRef.nationalityCode }}</span>
          </dd>
          <dt><span jhiTranslate="kotekkaApp.cin.issuingCountry">Issuing Country</span></dt>
          <dd>
            <span>{{ cinRef.issuingCountry }}</span>
          </dd>
          <dt><span jhiTranslate="kotekkaApp.cin.issuingCountryCode">Issuing Country Code</span></dt>
          <dd>
            <span>{{ cinRef.issuingCountryCode }}</span>
          </dd>
          <dt><span jhiTranslate="kotekkaApp.cin.motherName">Mother Name</span></dt>
          <dd>
            <span>{{ cinRef.motherName }}</span>
          </dd>
          <dt><span jhiTranslate="kotekkaApp.cin.civilRegister">Civil Register</span></dt>
          <dd>
            <span>{{ cinRef.civilRegister }}</span>
          </dd>
          <dt><span jhiTranslate="kotekkaApp.cin.sex">Sex</span></dt>
          <dd>
            <span>{{ cinRef.sex }}</span>
          </dd>
          <dt><span jhiTranslate="kotekkaApp.cin.address">Address</span></dt>
          <dd>
            <span>{{ cinRef.address }}</span>
          </dd>
          <dt><span jhiTranslate="kotekkaApp.cin.birthCityCode">Birth City Code</span></dt>
          <dd>
            <span>{{ cinRef.birthCityCode }}</span>
          </dd>
          <dt><span jhiTranslate="kotekkaApp.cin.walletHolder">Wallet Holder</span></dt>
          <dd>
            <span>{{ cinRef.walletHolder }}</span>
          </dd>
          <dt><span jhiTranslate="kotekkaApp.cin.createdDate">Created Date</span></dt>
          <dd>
            <span>{{ cinRef.createdDate | formatMediumDatetime }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/cin', cinRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
