<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-user-affiliation-heading"
        data-cy="UserAffiliationCreateUpdateHeading"
        jhiTranslate="kotekkaApp.userAffiliation.home.createOrEditLabel"
      >
        Créer ou éditer un User Affiliation
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="kotekkaApp.userAffiliation.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let walletHolderRef = editForm.get('walletHolder')!;
        <div class="mb-3">
          <label class="form-label" for="field_walletHolder" jhiTranslate="kotekkaApp.userAffiliation.walletHolder">Wallet Holder</label>
          <input
            type="text"
            class="form-control"
            name="walletHolder"
            id="field_walletHolder"
            data-cy="walletHolder"
            formControlName="walletHolder"
          />
          @if (walletHolderRef.invalid && (walletHolderRef.dirty || walletHolderRef.touched)) {
            <div>
              @if (editForm.get('walletHolder')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        @let affiliationRef = editForm.get('affiliation')!;
        <div class="mb-3">
          <label class="form-label" for="field_affiliation" jhiTranslate="kotekkaApp.userAffiliation.affiliation">Affiliation</label>
          <input
            type="text"
            class="form-control"
            name="affiliation"
            id="field_affiliation"
            data-cy="affiliation"
            formControlName="affiliation"
          />
          @if (affiliationRef.invalid && (affiliationRef.dirty || affiliationRef.touched)) {
            <div>
              @if (editForm.get('affiliation')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              @if (editForm.get('affiliation')?.errors?.minlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: '3' }"
                  >Ce champ doit faire au minimum 3 caractères.</small
                >
              }
              @if (editForm.get('affiliation')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '100' }"
                  >Ce champ doit faire moins de 100 caractères.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_createdBy" jhiTranslate="kotekkaApp.userAffiliation.createdBy">Created By</label>
          <input type="text" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_createdDate" jhiTranslate="kotekkaApp.userAffiliation.createdDate">Created Date</label>
          <div class="d-flex">
            <input
              id="field_createdDate"
              data-cy="createdDate"
              type="datetime-local"
              class="form-control"
              name="createdDate"
              formControlName="createdDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
